001 print 기초 / 화면에 Hello World 문자열을 출력하세요.

In [22]:
print("Hello World")

Hello World

002 print 기초 / 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [23]:
print("Mary's cosmetics")

Mary's cosmetics

003 print 기초 / 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

In [76]:
print('신씨가 소리를 질렀다. "도둑이야."')

신씨가 소리를 질렀다. "도둑이야."

004 print 기초 / 화면에 C:\Windows를 출력하세요.

In [27]:
print("C:\Windows")

C:\Windows

005 print 탭과 줄바꿈 / 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [30]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

`\t`는 탭, `\n'`은 줄바꿈.

006 print 여러 데이터 출력 / print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [31]:
print ("오늘은", "일요일")

오늘은 일요일

여러 값을 출력하려면 print 함수에서 쉼표로 구분해주면 됨. 따라서 오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.

007 print 기초 / print() 함수를 사용하여 다음과 같이 출력하세요.

In [33]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

008 print 기초 / print() 함수를 사용하여 다음과 같이 출력하세요.

In [34]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

009 print 줄바꿈 - 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [36]:
print("first");print("second")

first
second

010 연산 결과 출력 - 5/3의 결과를 화면에 출력하세요.

In [37]:
print(5/3)

1.6666666666666667

011 변수 사용하기 - 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [38]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

012 변수 사용하기 - 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [39]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

013 문자열 출력 -

In [40]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
014 파이썬을 이용한 값 계산 - 아래 코드의 실행 결과를 예상해보세요.

In [42]:
2 + 2 * 3

8

015 type 함수 - type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

In [44]:
a = "132"
print(type(a))

<class 'str'>

016 문자열을 정수로 변환 - 문자열 '720'를 정수형으로 변환해보세요.

In [45]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

017 정수를 문자열 100으로 변환 - 정수 100을 문자열 '100'으로 변환해보세요.

In [46]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

018 문자열을 실수로 변환 - 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [47]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

019 문자열을 정수로 변환 - year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [48]:
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

020 파이썬 계산 - 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [49]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

021 문자열 인덱싱 - letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [ ]:
letters = 'python'

In [50]:
lang = 'python'
print(lang[0], lang[2])

p t

022 문자열 슬라이싱 - 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [51]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

023 문자열 인덱싱 - 아래의 문자열에서 '홀' 만 출력하세요.

In [52]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

024 문자열 슬라이싱 - 문자열을 거꾸로 뒤집어 출력하세요.

In [53]:
string = "PYTHON"
print(string[::-1])

NOHTYP

025 문자열 치환 - 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [54]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

026 문자열 다루기 - 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [55]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

027 문자열 다루기 - url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [56]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

028 문자열은 immutable - 아래 코드의 실행 결과를 예상해보세요.

In [57]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

029 replace 메서드 - 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [58]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

030 replace 메서드 - 아래 코드의 실행 결과를 예상해보세요.

In [59]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

031 문자열 합치기 - 아래 코드의 실행 결과를 예상해보세요.

In [60]:
a = "3"
b = "4"
print(a + b)

34

032 문자열 곱하기 - 아래 코드의 실행 결과를 예상해보세요.

In [61]:
print("Hi"*3)

HiHiHi

033 문자열 곱하기 - 화면에 '-'를 80개 출력하세요.

In [62]:
print("-"*80)

--------------------------------------------------------------------------------

034 문자열 곱하기 -

In [ ]:
t1 = 'python'
t2 = 'java'

In [66]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

035 문자열 출력 - 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [67]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

036 문자열 출력 - 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [68]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

037 문자열 출력 - 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [69]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

038 컴마 제거하기 - 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [70]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

039 문자열 슬라이싱 - 다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [71]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

040 strip 메서드 - 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [72]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

041 upper 메서드 / 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [3]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

042 lowrer 메서드 / 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [4]:
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

043 capitalize 메서드 / 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [14]:
a = "hello"
a = a.capitalize()

044 endswith 메서드 / 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [10]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

045 endswith 메서드 / 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [12]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

046 startswith 메서드 / 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [15]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

047 split 메서드 / 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [16]:
a = "hello world"
a.split()

['hello', 'world']

048 split 메서드 / 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [17]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

049 split 메서드 / 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [18]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

050 rstrip 메서드 / 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [21]:
data = "039490     "
data = data.rstrip()