#### 101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
불(Boolean) 자료형

In [1]:
print(3==5)

False

In [2]:
print(3<5)

True

In [3]:
x = 4
print(1<x<5)

True

In [4]:
print((3==3) and (4!=3))

True

In [8]:
if 4<3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [9]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [10]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

### 111

In [13]:
data = input("")
print(data * 2)

안녕하세요
안녕하세요안녕하세요

### 112

In [15]:
data = input("숫자를 입력하세요:")
print(int(data) + 10)

숫자를 입력하세요:30
40

### 113

In [16]:
data = input(">> ")
data = int(data)
if data % 2 == 0:
    print("짝수")
else:
    print("홀수")

>> 30
짝수

### 114

In [17]:
data = input("입력값:")
data = int(data)
data = data + 20
if data > 255:
    print(255)
else:
    print(data)

입력값:200
220

In [18]:
data = input("입력값:")
data = int(data)
data = data + 20
if data > 255:
    print(255)
else:
    print(data)

입력값:240
255

### 115

In [25]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 90
70

### 116

In [26]:
data = input("현재시간:")
if data[-2:] == "00":
    print("정각입니다")
else: 
    print("정각이 아닙니다.")

현재시간:11:34
정각이 아닙니다.

### 117

In [28]:
fruit = ["사과", "포도", "홍시"]
data = input("좋아하는 과일은?:")
if data in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?:망고
오답입니다.

### 118

In [29]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: 애플
투자 경고 종목이 아닙니다.

### 120

In [34]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
질문 = input("좋아하는 과일은?:")
if 질문 in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?:망고
오답입니다.

### 119

In [36]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
질문 = input("제가 좋아하는 계절은")
if 질문 in fruit:
    print("정답입니다.")
else:
    print("오답입니다")

제가 좋아하는 계절은가을
정답입니다.

### 121

In [37]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

### 122

In [38]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 50
grade is C

### 123

In [42]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

### 124

In [43]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 3
input number2: 2
input number3: 1
3

### 125

In [44]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

### 126

In [45]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["013", "014", "015"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

### 127

In [46]:
주민등록번호 = input("주민등록번호: ")
주민등록번호 = 주민등록번호.split("-")[1]
if 주민등록번호[0] == "1" or 주민등록번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

### 128

In [49]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 821010-1635210
서울이 아닙니다.

### 129

In [50]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 950809-2014425
유효하지 않은 주민등록번호입니다.

### 130

In [52]:
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

### 131

In [53]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

### 132

In [54]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print('#####')

#####
#####
#####

### 133

In [55]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

### 134

In [56]:
for 변수 in ["A", "B", "C"]:
    print("출력", 변수)

출력 A
출력 B
출력 C

### 135

In [57]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

### 136

In [58]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

### 139

In [59]:
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

### 141

In [60]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수+10)

110
210
310

### 142

In [61]:
메뉴 = "김밥"
print("오늘의 메뉴:" + 메뉴)

오늘의 메뉴:김밥

In [62]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:" + 메뉴)

오늘의 메뉴:김밥
오늘의 메뉴:라면
오늘의 메뉴:튀김

### 143

In [64]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    print(len(종목명))

6
4
4

### 144

In [67]:
리스트 = ['dog', 'cat', 'parrot']
for 동물이름 in 리스트:
    print(동물이름, len(동물이름))

dog 3
cat 3
parrot 6

### 145

In [68]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
    print(이름[0])

d
c
p

### 146

In [69]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x", 변수)

3 x 1
3 x 2
3 x 3

### 147

In [70]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x", 변수, "=", 3 * 변수)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

### 148

In [71]:
리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[1:]:
    print(문자)

나
다
라

### 149

In [72]:
리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[: :2]:
    print(문자)

가
다

### 150

In [73]:
리스트 = ["가", "나", "다", "라"]
for 문자 in 리스트[: :-1]:
    print(문자)

라
다
나
가